<p>{{.Desc}}</p>
<div>
{{- range .Downloadables}}
<a href="{{.}}" class="btn btn-primary">下載 {{.Ext}}</a>
{{- end}}
</div>
{{- range .Images}}
<div class="image">
  <a href="{{.Path}}"><img class="lazy" data-original="{{.Path}}" width="{{.Width}}" height="{{.Height}}"></img></a>
</div>
{{- end}}
