<div>
{{- range .Downloadables}}
<a href="{{.DataPath}}" class="btn btn-primary">下載 {{.Ext}}</a>
{{- end}}
</div>
<p>{{.Desc}}</p>
{{- range .Images}}
<div class="image">
  <a href="{{.DataPath}}"><img class="lazy" data-original="{{.DataPath}}" width="{{.Width}}" height="{{.Height}}"></img></a>
</div>
{{- end}}
